@import url('https://lineto.com/The+Fonts/Font+Categories/Text+Fonts/Arial/Book');

p {
  font-family: 'Arial';
}

input {
  font-family: 'Arial';
  margin-right: 10px;
}

p::selection {
  background-color: #ffb6c1;
  color: #f8f8f9;
}

h1, h2 {
  font-family: 'Arial';
  font-weight: bold;
}

h1 {
  font-size: 3em;
  color: #f8f8f9;
}

h2 {
  font-size: 3em;
}

.box {
  border-radius: 0.8em;
  color: #f8f8f9;
  padding: 1em;
  margin: 3em;
}

button {
  font-family: 'Arial';
  font-size: 16px;
  color: #1D2951;
  border: 4px;
  margin: auto;
}

.list {
  background-color: #f8f8f9;
  color: #1D2951;
  padding: 1em;
  margin: 3em;
}

.row {
  margin: 3em;
}

body {
  margin: auto;
  background-image: url('https://images.unsplash.com/photo-1466027397211-20d0f2449a3f?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=annie-spratt-102804.jpg&s=d5bc2cb84e5764f118388d6930f9eb75');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-content: center;
}
