@import url('https://lineto.com/The+Fonts/Font+Categories/Text+Fonts/Circular/Book');
@import url('https://fonts.googleapis.com/css?family=Bungee');

p {
  font-family: 'Circular';
}

h1, h2 {
  font-family: 'Circular';
  text-align: center;
}

h1 {
  font-size: 3em;
  color: #f8f8f9;
}

h2 {
  font-size: 3em;
}

li {
  font-family: 'Circular';
}

input {
  margin-right: 10px;
}

.box {
  border-radius: 0.8em;
  color: #f8f8f9;
  padding: 1em;
  margin: 3em;
  width: 50%;
}

button {
  font-family: 'Circular';
  font-size: 12px;
  background-color: #1D2951;
  color: #f8f8f9;
  border: none;
}

.list {
  background-color: #f8f8f9;
  color: #1D2951;
}

body {
  margin: auto;
  background-image: url('https://images.unsplash.com/photo-1466027397211-20d0f2449a3f?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=annie-spratt-102804.jpg&s=d5bc2cb84e5764f118388d6930f9eb75');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-content: center;
}
